{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
  <div class="container" align="left">
    <a href="/documentation" class="btn btn-warning" role="button">Documentation</a>
  </div>
 <img class="banner" src="static/SquashText001.png">
 <form action="/" id="generate" method="post">
    <div class="container" align="center">
        Term to search:
        <br>
        <input id="searchTerm" name="searchTerm" placeholder="i.e 'bananas'" type="text">
      </div>
    <br>
    <div class="container" align="center">
      <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" min="2017-01-01">
    </div>
    <br>
    <div class="container" align="center">
      <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" min="2017-01-02">
    </div>
    <div class="container" align="center">
        <label class="radio-inline">
          <input type="radio" name="term_period" value="day" checked> Day
        </label>
        <label class="radio-inline">
          <input type="radio" name="term_period" value="week"> Week
        </label>
        <label class="radio-inline">
          <input type="radio" name="term_period" value="month">Month
        </label>
    </div>

    <br>
    <div class="container" id="subredditBox" align="center">
      /r/
      <input name="subreddit0" id="subreddit0" placeholder="Subreddit 0" type="text">
    </div>
    <div class="container" align="center">
      <button class="btn btn-warning" id="addSubreddit" type="button">Add Another Subreddit</button>
    </div>
    <br>
    <div class="container" align="center">
      <button class="btn btn-warning" id="generate_button" type="submit">Generate!</button>
    </div>
  </form>
  <div style="height:400px"></div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>

    let field_count = 1;
    let generate_button = document.getElementById('generate_button')

    addSubreddit.onclick = function(){
      let newSubreddit = document.createElement('div');
      let newBox = '/r/ <input name="subreddit' + field_count + '" placeholder="Subreddit ' + field_count + '" type="text">';
      newSubreddit.innerHTML = newBox;
      document.getElementById("subredditBox").appendChild(newSubreddit);
      field_count++;
      return field_count;
    };

    $("#generate_button").click(function(event) {
      event.preventDefault();
      let start_date = $("#start_date").val();
      let end_date = $("#end_date").val();
      let term_period = $("input:radio[name=term_period]:checked").val()
      let searchTerm = $("#searchTerm").val();

      // Error Checking
      if (!searchTerm) {
        alert("Enter a term to search for.");
        return;
      }

      if (!start_date) {
        alert("Enter a Start Date.");
        return;
      }

      if (!end_date) {
        alert("Enter an End Date.");
        return;
      }

      // Query duration alerts
      $.ajax({
        data : {start_date: start_date, end_date: end_date, field_count: field_count, term_period: term_period},
        type : 'GET',
        url : '/check'
            })
            .done(function(data) {
              if (data == false){
                $("#generate").submit();
              }
              else {
                let r = confirm(data);
                if (r == true) {
                  $("#generate").submit();
                } else {
                  return;
                }

              }
            });
    });
  </script>
{% endblock %}
